<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="body-all">
        <%- include('../partials/header') %>
                <div class="hr">
                    <hr>
                </div>
                <div class="category">
                    <ul>
                        <% categories.forEach(({id,name})=> { %>
                            <li><a href="/category/<%= id %>">
                                    <%= name %>
                                </a></li>
                            <% }) %>
                    </ul>
                </div>
            <main class="main-result">
                <% if (category.products.length> 1) { %>
                    <h3>Todo en <%= category.name %> New Home</h3>
                    <section class="section-result">
                        <% category.products.forEach(({id,name,images,discount,price})=> { %>
                            <article class="product-result">
                                <div class="div-result">
                                    <a href="/products/detail/<%= id %> "><img class="img-result"
                                            src="/img/<%= images[0].file %>" alt=""></a>
                                    <div class="text-result">
                                        <h2>$<%= toThousand(price - (price * discount / 100)) %>
                                        </h2>
                                        <span>
                                            <%= discount %> % OFF
                                        </span>
                                        <p>
                                            <%= name %>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <% }) %>

                                <% } else {%>
                                    <div class="msj-category">
                                        <p>No se encontraron productos en esta categoria</p>
                                        <% if (locals.userLogin && userLogin.rol===1 ) { %>
                                            <span><a style="color: green;" href="/products/create">¿Desea <i
                                                        class="fa-sharp fa-solid fa-bag-shopping"></i>
                                                    Vender?</a></span>
                                            <% } %>
                                    </div>
                                    <section class="interesting_products">
                                        <h4 style="font-family: 'roboto'; margin-left : 2%;">Productos que te pueden llegar a interesar</h4>
                                        <div class="containsproduct">
                                            <% cheap.forEach(({id,name, images,discount,price})=> { %>
                                                <article>
                                                    <a href="/products/detail/<%= id %> "><img
                                                            class="main__section__img" src="/img/<%= images[0].file %>"
                                                            alt=""></a>
                                                    <div class="article-text">
                                                        <p class="p2"><del>$<%= toThousand(price) %></del></p>
                                                        <h2 style="padding-right: 20px;">$<%= toThousand(price - (price
                                                                * discount / 100)) %>
                                                        </h2>
                                                        <span>
                                                            <%= discount %>%OFF
                                                        </span>
                                                        <p>
                                                            <%= name %>
                                                        </p>
                                                    </div>
                                                </article>
                                                <% }) %>
                                        </div>
                                    </section>
                                    <% } %>
                    </section>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer') %>
    </body>

</html>