<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title : 'Producto a Editar' }) %>


  <body class="result">
    <%- include('../partials/header') %>
      <main class="main-edit">
        <section class="section-edit">
          <div class="son-edit">
            <form action="/products/update/<%= product.id %>?_method=PUT" method="POST">
              <div class="form-edit">
                <label for="name" class="form-label">PRODUCTO</label>
                <input type="text" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                  id="name" name="name" value="<%= product.name %>">
                <p class="text-danger">
                  <%= locals.errors && errors.name ? errors.name.msg : null %>
                </p>
              </div>
              <div class="form-categories">
                <div class="form-edit-price">
                  <label for="price" class="form-label">PRECIO</label>
                  <input type="number" name="price" value="<%= product.price %>">
                  <p class="text-danger">
                    <%= locals.errors && errors.price ? errors.price.msg : null %>
                  </p>
                </div>
                <div class="form-edit-discount">
                  <label for="discount" class="form-label">DESCUENTO</label>
                  <input id="discount" type="number" name="discount" value="<%= product.discount %>">
                </div>

                <div class="form-edit-category">
                  <label for="category" class="form-label">CATEGORIA</label>
                  <select name="categoryId" id="category" class="form-input">
                    <% categories.forEach(({id, name})=> { %>
                      <option value="<%= id %>" <%=id===product.categoryId && 'selected' %>><%= name %>
                      </option>
                      <% }) %>
                  </select>
                  </p>
                </div>
                <div class="form-edit-subcategory">
                  <label for="category" class="form-label">SUB CATEGORIA</label>
                  <select name="subcategoryId" id="category" class="form-input">
                    <% subcategories.forEach(({id, name})=> { %>
                      <option value="<%= id %>" <%=id===product.subcategoryId && 'selected' %>><%= name %>
                      </option>
                      <% }) %>
                  </select>
                </div>
              </div>

              <div class="form-edit-description">
                <label for="description" class="form-label">DESCRIPCIÓN</label>
                <textarea class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                  name="description" id="description" cols="30" rows="5"
                  style="resize: none;">  <%= product.description %></textarea>
                <p class="text-danger">
                  <%= locals.errors && errors.description ? errors.description.msg : null %>
                </p>
              </div>
              <div class="form-text">
                <button type="submit" class="button-guardar">GUARDAR CAMBIOS</button>
                <button class="button-cancelar"><a href="/products/detail/<%= product.id ? product.id : id %>">CANCELAR</a></button>
              </div>
            </form>
          </div>
        </section>
      </main>
  </body>

</html>