<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {
        title : 'Editar producto'
    }) %> 


<body class="result">
    <%- include('./partials/header') %> 

    <main class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <section class="card shadow">
                    <div class="card-header">
                        <h4>Editar producto: <%= product.title %></h4>
                    </div>
                    <div class="card-body">
                        <form action="/products/update/<%= product.id ? product.id : id %>?_method=PUT" method="POST">
                            <div class="row">
                                <div class="mb-3 col-12">
                                    <label for="title" class="form-label">Producto</label>
                                    <input type="text"  class="form-control <%= locals.errors && errors.title ? 'is-invalid' : null %>" id="title" name="title" value="<%= product.title %>">
                                    <p class="text-danger"><%= locals.errors && errors.title ? errors.title.msg : null %></p>
                                  </div>
                                  <div class="mb-3 col-12 col-md-6">
                                    <label for="price" class="form-label">Precio</label>
                                    <input class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>" id="price" type="number" name="price" value="<%= product.price %>">
                                    <p class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null %></p>

                                  </div>
                                  <div class="mb-3 col-12 col-md-6">
                                    <label for="discount" class="form-label">Descuento</label>
                                    <input  id="discount" type="number" name="discount" value="<%= product.discount %>">
                                  </div>
                                  <div class="mb-3 col-12 col-md-6">
                                    <label for="seccion" class="form-label">Sección</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="lo mejor" name="section" id="section1" <%= product.section === "lo mejor" && 'checked'%> >
                                        <label class="form-check-label" for="section1">
                                          Stock
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="oferta" name="section" id="section2"  <%= product.section === "oferta" && 'checked'%> >
                                        <label class="form-check-label" for="section2">
                                          Oferta
                                        </label>
                                        <p class="text-danger"><%= locals.errors && errors.section ? errors.section.msg : null %></p>

                                      </div>
                                  </div>
                                  <div class="mb-3 col-12">
                                    <label for="description" class="form-label">Descripción</label>
                                    <textarea class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>" name="description" id="description" cols="30" rows="5" style="resize: none;"><%= product.description %></textarea>
                                    <p class="text-danger"><%= locals.errors && errors.description ? errors.description.msg : null %></p>
                                  </div>
                                  <div class="text-end">
                                    <a href="/products/delete/<%= product.id ? product.id : id %>" class="btn btn-danger">Eliminar</a>
                                    <a href="/products/detail/<%= product.id ? product.id : id %>" class="btn btn-secondary">Cancelar</a>
                                    <button type="submit" class="btn btn-success">Guardar cambios</button>

                                  </div>
                            </div>
                          
                        </form>
                        
                    </div>
                </section>
            </div>
        </div>
      
    </main>
</body>

</html>