<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="login">
    <!-- HEADER -->
    <%- include('./partials/header') %>

        <!-- MAIN -->
        <main class=" d-flex a-center j-center  flex-column ">
            <a class="m-top25 m-botton25" href="/"><img width="100" src="/img/logo2.jpg" alt="logo"></a>
            <h1>Acceder!</h1>
            <form class=" w-40 d-flex  flex-column " action="" method="POST">
                <label for="email"></label>
                <input class="m-top25 radio p-left" placeholder="Ingresa tu email" type="email" name="email"
                    id="email">
                <p class="form__error__msg">
                    <%= locals.errors && errors.email ? errors.email.msg : null %>
                </p>
                <label for="password"></label>
                <input class="m-top50 radio p-left" placeholder="Elegi tu contraseña" type="password"
                    name="password" id="password">
                <p class="form__error__msg">
                    <%= locals.errors && errors.password ? errors.password.msg : null %>
                </p>
                <button class="enviar m-top50 m-botton25" type="submit">Enviar</button>
            </form>
            <button class="radio bc-white">Olvidaste tu contraseña?</button>

            <a class="outsidelogo" href="/index"><img width="60px" height="60px" src="/img/logo 1.png"
                    alt="logo"></a>
            <!-- FOOTER -->
            <%- include('./partials/footer') %>
</body>

</html>