<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <main>
        <section class="maintop">
                <section class="producto">
                    <h2> <%= product.title %> </h2>
                    <div class="product_img">
                        <img width="400" height="400" src="/img/<%= product.image %> " alt="tv">
                    </div>

                    <article class="more_img_box">
                        <div class="more_img">
                            <img width="60" height="60" src="/img/tv2.jpg" alt="tv">
                            <img width="60" height="60" src="/img/tv3.jpg" alt="tv">
                            <img width="60" height="60" src="/img/tv4.jpg" alt="tv">
                            <img width="60" height="60" src="/img/tv5.jpg" alt="tv">
                        </div>
                        <i id="flecha" class="fa-solid fa-arrow-right"></i>
                    </article>
                </section>

                <section class="price">
                    <h2> $<%= toThousand(product.price) %></h2>
                    <p class="promos_bank">¡Nuestras promociones bancarias!</p>
                    <p class="promos">3 cuotas sin interes con los siguientes metodos de pago</p>
                    <div class="cards">
                        <img src="/img/cards/mastercard.png" alt="">
                        <img src="/img/cards/santander.png" alt="">
                        <img src="/img/cards/visa.png" alt="">
                    </div>
                     <div class="buttons">
                        <a href="#">Comprar ahora</a>
<!--                         <a href="#">Añadir al carrito</a>
 -->                        <a href="/products/edit/<%= product.id %>">Editar</a>
                            <a href="/products/delete/<%= product.id %>">Eliminar</a>
                    </div>
                    <div class="send">
                        <div class="cuandollega">
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="sendtexto">
                                <p>Envios a todo el pais</p>
                                <p class="sendblue">Calcular cuando llega</p>
                            </div>
                        </div>
                        <div class="sucursales">
                            <i class="fa-solid fa-store"></i>
                            <div class="sendtexto">
                                <p>Retiro gratis en sucursal</p>
                                <p class="sendblue">Ver sucursales</p>
                            </div>
                        </div>

                    </div>
                    </div>
                </section>
            </section>

            <section class="caracteristicas">
                    <ul class="c_req">
                        <li>Pulgadas</li>
                        <li>Resolucion</li>
                        <li>Formato de pantalla</li>
                        <li>3D</li>
                    </ul>
                    <ul class="c_res">
                        <li>50</li>
                        <li>3840 x 2160 pixeles</li>
                        <li>Plano</li>
                        <li>No</li>
                    </ul>

            </section>

            <section class="description">   
                <h4 class="tittle">Funciones especiales</h4>
                <p class="product__description"><%= product.description %> </p>
                <h4 class="tittle"><%= product.title %></h4>
                <p class="product__description"><%= product.description %> </p>

            </section>

            <section class="interesting_products">
                <h3>Productos que te pueden llegar a interesar</h3>
                <div class="containsproduct">       
                    <% loMejor.forEach(({id,title, image,discount,price}) => { %>
                    <article>
                        <a href="/products/detail/<%= id %> "><img  class ="main__section__img" src="/img/<%= image %>" alt=""></a>                      
                        <h5 class="interesting_products_border"><%= title %> </h5>
                        <p class="">$<%= price %> </p>
                        <p class="color_verde"><%= discount %> % OFF</p>    
                    </article>
                          <% }) %>                   
                </div>
            </section>
    </main>
    <nav class="main__nav">
        <ul>
            <!-- <button><li><a href="/products/productAdd">Actualizar</a></li></button>
            <button><li><a href="/products/productEdition">Editar</a></li></button> -->
            
        </ul>
    </nav>   
    </section> 

    <a class="outsidelogo" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

</body>

</html>