<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body class="body">
        <!-- HEADER -->
        <%- include('./partials/header') %>
            <main class="main">
                <div class="hr">
                    <hr>
                </div>
                <div class="category">
                    <ul>
                        <% category.forEach(({id,name})=> { %>
                            <li><a href="/category/category/<%= id %>">
                                    <%= name %>
                                </a></li>
                            <% }) %>
                    </ul>
                </div>
                <!--                 </div>
                <div class="category">
                    <ul>
                        <% subcategory.forEach(({id,name})=> { %>
                            <li><a href="/subcategory/subcategory/<%= id %>">
                                    <%= name %>
                                </a></li>
                            <% }) %>
                    </ul>
                </div> -->


                <!-- Banner -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/subcategory/lg/ <%= lg.id %> "><img src="/img/banner/img_baner.png"
                                    class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/category/furniture/<%= furniture.id %> "><img src="/img/banner/img_baner_2.png"
                                    class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="/subcategory/samsung/ <%= samsung.id %> "><img src="/img/banner/img_baner_3.png"
                                    class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <img src="/img/banner/img_baner_4.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Banner -->

                <section class="main__section">
                    <section class="interesting_products">
                        <h3>Todo lo Nuevo en New Home</h3>
                        <div class="containsproduct">
                            <% newest.forEach(({id,name, images,discount,price})=> { %>
                                <article>
                                    <a href="/products/detail/<%= id %> "><img class="main__section__img"
                                            src="/img/<%= images[0].file %>" alt=""></a>
                                    <div class="article-text">
                                        <p class="p2"><del>$<%= toThousand(price) %></del></p>
                                        <h2>$<%= toThousand(price - (price * discount / 100)) %>
                                        </h2>
                                        <span>
                                            <%= discount %>%OFF
                                        </span>
                                        <p>
                                            <%= name %>
                                        </p>
                                    </div>
                                </article>
                                <% }) %>
                        </div>
                    </section>


                    <section class="interesting_products">
                        <h3>Aprovechá las ofertas destacadas</h3>
                        <div class="containsproduct">
                            <% offer.forEach(({id,name, images,discount,price})=> { %>
                                <article>
                                    <a href="/products/detail/<%= id %> "><img class="main__section__img"
                                            src="/img/<%= images[0].file %>" alt=""></a>
                                    <div class="article-text">
                                        <p class="p2"><del>$<%= toThousand(price) %></del></p>
                                        <h2>$<%= toThousand(price - (price * discount / 100)) %>
                                        </h2>
                                        <span>
                                            <%= discount %>%OFF
                                        </span>
                                        <p>
                                            <%= name %>
                                        </p>
                                    </div>
                                </article>
                                <% }) %>
                        </div>
                    </section>





                    <!-- banner body -->

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/category/tv/ <%= smart.id %> "><img src="/img/banner/img_baner_body.png"
                                        class="d-block w-100" alt="..."></a>
                            </div>
                            <div class="carousel-item">
                                <a href="/category/smartphone/<%= smartphone.id %> "><img
                                        src="/img/banner/img_baner_5.png" class="d-block w-100" alt="..."></a>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/banner/img_baner_body_3.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <a href="/category/freetime/<%= freetime.id %> "><img src="/img/banner/img_baner_6.png" class="d-block w-100" alt="..."></a>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <!-- Banner body -->

                    <section class="interesting_products">
                        <h3>Electrodomesticos en New Home</h3>
                        <div class="containsproduct">
                            <% electrodomesticos.products.forEach(({id,name, images,discount,price})=> { %>
                                <article>
                                    <a href="/products/detail/<%= id %> "><img class="main__section__img"
                                            src="/img/<%= images[0].file %>" alt=""></a>
                                    <div class="article-text">
                                        <p class="p2"><del>$<%= toThousand(price) %></del></p>
                                        <h2>$<%= toThousand(price - (price * discount / 100)) %>
                                        </h2>
                                        <span>
                                            <%= discount %>%OFF
                                        </span>
                                        <p>
                                            <%= name %>
                                        </p>
                                    </div>
                                </article>
                                <% }) %>
                        </div>
                    </section>

                    <section class="interesting_products">
                        <h3>Muebles en New Home</h3>
                        <div class="containsproduct">
                            <% muebles.products.forEach(({id,name, images,discount,price})=> { %>
                                <article>
                                    <a href="/products/detail/<%= id %> "><img class="main__section__img"
                                            src="/img/<%= images[0].file %>" alt=""></a>
                                    <div class="article-text">
                                        <p class="p2"><del>$<%= toThousand(price) %></del></p>
                                        <h2>$<%= toThousand(price - (price * discount / 100)) %>
                                        </h2>
                                        <span>
                                            <%= discount %>%OFF
                                        </span>
                                        <p>
                                            <%= name %>
                                        </p>
                                    </div>
                                </article>
                                <% }) %>
                        </div>
                    </section>

            </main>
            <a href="/" class="outsidelogo"><img width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>
            <!-- FOOTER -->
            <%- include('./partials/footer') %>
                <%- include('./partials/script') %>

    </body>

</html>