<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<%- include('../partials/header') %>

  <body>
    <main class="main-pro">
      <section class="section-pro">
        <h2>Mi perfil</h2>
        <img src="/img/avatars/<%= user.avatar %> " alt="">
        <hr>
        <div class="section-pro-datos">
          <p>Nombre: <%= user.name %>
          </p>
          <p>Apellido: <%= user.surname %>
          </p>
          <p>Email: <%= user.email %>
          </p>
          <p>Pais: <%= address.country %>
          </p>
          <p>Provincia: <%= address.province %>
          </p>
          <p>Ciudad: <%= address.city %>
          </p>
        </div>
        <nav class="nav-pro-datos">
          <ul>
            <% if (locals.userLogin && userLogin.rol===1 ) { %>
            <li class="header__nav__li"><a href="/products/create"><i class="fa-sharp fa-solid fa-bag-shopping"></i> Vender</a></li>
            <li><a href="/users/edit/<%= user.id %> "><i class="fa-solid fa-pen-to-square"></i></i> Editar</a></li>
            <li><a href="/users/logoutV"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a></li>
            <% } else {%>
            <li><a href="/users/edit/<%= user.id %> "><i class="fa-solid fa-pen-to-square"></i></i> Editar</a></li>
            <li><a href="/users/logoutV"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a></li>
            <% } %>
          </ul>
        </nav>  
  
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>

</html>