<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head') %>

    <body class="body-form">
        <main class="main-form">
            <section class="section-form">
                <h4>Crear una cuenta</h4>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-reg">
                        <label for="name">NOMBRE</label>
                        <input placeholder="Daniel" type="text" name="name" id="name"
                            value="<%= locals.old && old.name ? old.name : null %>"
                            class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>">
                        <p class="text-danger">
                            <%= locals.errors && errors.name ? errors.name.msg : null %>
                        </p>
                    </div>
                    <div class="form-reg">
                        <label for="surname">APELLIDO</label>
                        <input placeholder="Martinez" type="text" name="surname" id="surname"
                            value="<%= locals.old && old.surname ? old.surname : null %>"
                            class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>">
                        <p class="text-danger">
                            <%= locals.errors && errors.surname ? errors.surname.msg : null %>
                        </p>
                    </div>
                    <div class="form-reg">
                        <label for="email">CORREO ELECTRONICO</label>
                        <input placeholder="mi@gmail.com" type="text" name="email" id="email"
                            value="<%= locals.old && old.email ? old.email : null %>"
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>">
                        <p class="text-danger">
                            <%= locals.errors && errors.email ? errors.email.msg : null %>
                        </p>
                    </div>
                    <div class="form-reg">
                        <label for="password">CONTRASEÑA</label>
                        <input placeholder="********" type="password" name="password" id="password"
                            value="<%= locals.old && old.password ? old.password : null %>"
                            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <p class="text-danger">
                            <%= locals.errors && errors.password ? errors.password.msg : null %>
                        </p>
                    </div>
                    <div class="form-country">
                        <label  for="country">PAIS</label>
                        <select name="country" id="country" class="form-input">
                            <% countries.forEach(({name})=> { %>
                                <option class="option-country">
                                    <%= name %>
                                </option>
                                <% }) %>
                        </select>

                    </div>
                    <div class="form-province">
                        <label for="province">PROVINCIA</label>
                        <select name="province" id="province" class="form-input">
                            <% provinces.forEach(({name})=> { %>
                                <option>
                                    <%= name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="form-reg">
                        <label for="city">CIUDAD</label>
                        <input placeholder="Escobar" type="text" name="city" id="city"
                            value="<%= locals.old && old.city ? old.city : null %>"
                            class="form-control <%= locals.errors && errors.city ? 'is-invalid' : null %>">
                        <p class="text-danger">
                            <%= locals.errors && errors.city ? errors.city.msg : null %>
                        </p>
                    </div>

                    <div class="form-reg">
                        <label for="name">ELIGIR FOTO DE PERFIL</label>
                        <input type="file" name="avatar" id="avatar"
                            value="<%= locals.old  && old.avatar ? old.avatar : null %>"
                            class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
                        <p class="text-danger">
                            <%= locals.errors && errors.avatar ? errors.avatar.msg : null %>
                        </p>
                        </p>
                    </div>
                    <div class="form-reg">
                        <button class="" type="submit">CREAR CUENTA</button>
                    </div>

                    <div class="text-form">
                        <p class="login-text">¿Ya tenes una cuenta?</p>
                        <p><a href="/users/login">INGRESAR</a></p>
                    </div>
                </form>
            </section>
        </main>

    </body>
<script src="/js/userRegister.js"></script>
</html>